<ion-content>
  <div class="logo__app">
    <img class="logo__img" src="assets/img/logo_img.png" alt="Logo Prevenir Express">
    <img class="logo__img__text" src="assets/img/logo_text.png" alt="Texto Logo Prevenir Express">
  </div>

  <div class="container">
    <!-- <h2 class="center title"><strong>Recuperación de Cuenta</strong></h2> -->

    <h5>Selecciona el método preferido por ti y te enviaremos un código para que recuperes el acceso a tu cuenta.</h5>
    <br>
    <fa-icon *ngIf="tipoValidacion" icon="arrow-left" (click)="reset()" style="font-size: 20px; color: #fff;"></fa-icon>
    <ion-item *ngIf="tipoValidacion === 'correo'">
      <ion-label position="floating">
        <fa-icon icon="mail-bulk"></fa-icon>
        Correo electrónico
      </ion-label>
      <ion-input class="input" [formControl]="recoveryMail" type="email"></ion-input>
    </ion-item>
    <ng-container *ngIf="recoveryMail.errors && recoveryMail.touched">
      <div class="msg__validation">
        <p *ngIf="recoveryMail.hasError('required')">
          <span>*&nbsp;</span>
          Este campo es requerido
        </p>
        <p *ngIf="recoveryMail.hasError('email')">
          <span>*&nbsp;</span>
          Debe introudcir un email correcto
        </p>
      </div>
    </ng-container>

    <div class="sms" *ngIf="tipoValidacion === 'sms' && mostrar === false">
      <ion-item>
        <ion-label position="floating">
          <fa-icon icon="sms"></fa-icon>
          Ingrese su numero de celular
        </ion-label>
        <ion-input class="input" [formControl]="recoveryPhone" minlength="8" type="number"></ion-input>
      </ion-item>
      <ng-container *ngIf="recoveryPhone.errors && recoveryPhone.touched">
        <div class="msg__validation">
          <p *ngIf="recoveryPhone.hasError('required')">
            <span>*&nbsp;</span>
            Este campo es requerido
          </p>
          <p *ngIf="recoveryPhone.hasError('minLength') || recoveryPhone.hasError('maxLength')">
            <span>*&nbsp;</span>
            solo se permiten 10 caracteres.
          </p>
        </div>
      </ng-container>

      <ion-item>
        <ion-label position="floating">
          <fa-icon icon="id-card"></fa-icon>
          Ingrese su número de identificacion
        </ion-label>
        <ion-input class="input" [formControl]="numIdentificacion" type="number"></ion-input>
      </ion-item>
      <ng-container *ngIf="numIdentificacion.errors && numIdentificacion.touched">
        <div class="msg__validation">
          <p *ngIf="numIdentificacion.hasError('required')">
            <span>*&nbsp;</span>
            Este campo es requerido
          </p>
          <p *ngIf="numIdentificacion.hasError('minLength') || numIdentificacion.hasError('pattern')">
            <span>*&nbsp;</span>
            el formato ingresado es incorrecto o es menor a 3 caracteres.
          </p>
        </div>
      </ng-container>
    </div>

    <div class="whatsapp" *ngIf="tipoValidacion === 'wsp' && mostrar === false">
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="logo-whatsapp" style="font-size: 20px; color: #00bfa5; padding-right: 10px;"></ion-icon>
          Ingrese su número de celular
        </ion-label>
        <ion-input class="input" [formControl]="recoveryPhone" type="number"></ion-input>
      </ion-item>
      <ng-container *ngIf="recoveryPhone.errors && recoveryPhone.touched">
        <div class="msg__validation">
          <p *ngIf="recoveryPhone.hasError('required')">
            <span>*&nbsp;</span>
            Este campo es requerido
          </p>
          <p *ngIf="recoveryPhone.hasError('minLength') || recoveryPhone.hasError('maxLength')">
            <span>*&nbsp;</span>
            solo se permiten 10 caracteres.
          </p>
        </div>
      </ng-container>

      <ion-item>
        <ion-label position="floating">
          <fa-icon icon="id-card"></fa-icon>
          Ingrese su número de identificacion
        </ion-label>
        <ion-input class="input" [formControl]="numIdentificacion" type="number"></ion-input>
      </ion-item>
      <ng-container *ngIf="numIdentificacion.errors && numIdentificacion.touched">
        <div class="msg__validation">
          <p *ngIf="numIdentificacion.hasError('required')">
            <span>*&nbsp;</span>
            Este campo es requerido
          </p>
          <p *ngIf="numIdentificacion.hasError('minLength') || numIdentificacion.hasError('pattern')">
            <span>*&nbsp;</span>
            el formato ingresado es incorrecto o es menor a 3 caracteres.
          </p>
        </div>
      </ng-container>
    </div>

    <ion-button *ngIf="!tipoValidacion"  shape="round" type="submit" expand="block" (click)="tipoValidacion = 'wsp'"> <ion-icon name="logo-whatsapp" style="font-size: 20px; color: #ffffff; padding-right: 10px;"></ion-icon>codigo por whatsapp</ion-button>
    <ion-button *ngIf="!tipoValidacion"  shape="round" type="submit" expand="block" (click)="tipoValidacion = 'correo'"> <ion-icon name="mail-unread" style="font-size: 20px; color: #fff; padding-right: 10px;"></ion-icon>codigo por correo</ion-button>
    <ion-button *ngIf="!tipoValidacion"  shape="round" type="submit" expand="block" (click)="tipoValidacion = 'sms'"> <ion-icon name="call" style="font-size: 20px; color: #fff; padding-right: 10px;"></ion-icon>codigo por sms</ion-button>

    <ion-button *ngIf="tipoValidacion"  shape="round" type="submit" expand="block" (click)="recoverAccount(tipoValidacion)" [disabled]="recoveryMail.invalid && recoveryPhone.invalid">Enviar codigo</ion-button>
    <br>
    <div *ngIf="mostrar === true">
      <ion-item>
        <ion-label position="floating">
          <fa-icon icon="unlock-alt"></fa-icon>
          Codigo de confirmacion
        </ion-label>
        <ion-input class="input" [formControl]="codigoConfirma" type="number" min="0"></ion-input>
      </ion-item>
      <ng-container *ngIf="codigoConfirma.errors && codigoConfirma.touched">
        <div class="msg__validation">
          <p *ngIf="codigoConfirma.hasError('required')">
            <span>*&nbsp;</span>
            Este campo es requerido
          </p>
        </div>
      </ng-container>
      <ion-item>
        <ion-label position="floating">
          <fa-icon icon="key"></fa-icon>
          Nueva contraseña
        </ion-label>
        <ion-input #newpass class="input" [formControl]="password" type="password" min="0" ></ion-input>
        <ion-icon class="toggle__password__icon" [name]="(passwordTypeInput === 'text')?'eye-off':'eye'" slot="end"
            (click)="togglePassword(newpass)" style="color: #fff; margin-top: 5%;"></ion-icon>
      </ion-item>
      <ng-container *ngIf="password.errors && password.touched">
        <div class="msg__validation">
          <p *ngIf="password.hasError('required')">
            <span>*&nbsp;</span>
            Este campo es requerido
          </p>
        </div>
      </ng-container>
      <ion-item>
        <ion-label position="floating">
          <fa-icon icon="key"></fa-icon>
          Confirmar contraseña
        </ion-label>
        <ion-input #repeatpass class="input" [formControl]="password2" type="password" min="0" ></ion-input>
        <ion-icon class="toggle__password__icon" [name]="(passwordTypeInput === 'text')?'eye-off':'eye'" slot="end"
            (click)="togglePassword(repeatpass)" style="color: #fff; margin-top: 5%;"></ion-icon>
      </ion-item>
      <ng-container>
        <div class="msg__validation">
          <p *ngIf="password.value !== password2.value">
            <span>*&nbsp;</span>
            Las contraseñas no coinciden.
          </p>
        </div>
      </ng-container>
      <br>
      <ion-button fill="outline" shape="round" type="submit" expand="block" (click)="comprobarCodigo('codigo')" [disabled]="password.value !== password2.value">Recuperar</ion-button>
    </div>
    <ion-button color="danger" shape="round" type="submit" expand="block" routerLink="/auth/login" (click)="reset()">Regresar</ion-button>
  </div>
</ion-content>