ion-content {
    margin: 0 12px;
}

.schedule-card {
    margin: 12px;
    padding: 8px;
    border-radius: 5px;
    background: #ecf0f16b;
    border: 1px solid white;

    .title {
        margin: 0;
        color: #FEFEFE;
        font-weight: bold;
    }

    .provider {}
}