<ion-header>
  <app-header title="Cambio de contraseña" [buttonsRight]="false"></app-header>
</ion-header>

<ion-content>
  <div class="image">
    <ion-icon name="lock-open-outline" slot="start"></ion-icon>
    <!-- <ion-icon name="refresh-outline"></ion-icon> -->
  </div>
  <h3>Ingresa tu contraseña anterior para que puedas generar la nueva contraseña que deseas cambiar para tu cuenta.</h3>

  <form [formGroup]="formChangePassword">
    <ion-list>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="lock-open" slot="start"></ion-icon>Contraseña actual
        </ion-label>
        <ion-input #lastpass class="input" type="password" formControlName="lastPassword"></ion-input>
        <ion-icon class="toggle__password__icon" [name]="(passwordTypeInput === 'text')?'eye-off':'eye'" slot="end"
          (click)="togglePassword(lastpass)"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="key" slot="start"></ion-icon>Nueva contraseña
        </ion-label>
        <ion-input #newpass class="input" type="password" formControlName="newPassword" [disabled]="formChangePassword.get('lastPassword').invalid"></ion-input>
        <ion-icon class="toggle__password__icon" [name]="(passwordTypeInput === 'text')?'eye-off':'eye'" slot="end"
          (click)="togglePassword(newpass)"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="key" slot="start"></ion-icon>Confirmar contraseña
        </ion-label>
        <ion-input #repeatpass class="input" type="password" formControlName="confirmedNewpassword" [disabled]="formChangePassword.get('lastPassword').invalid"></ion-input>
        <ion-icon class="toggle__password__icon" [name]="(passwordTypeInput === 'text')?'eye-off':'eye'" slot="end"
          (click)="togglePassword(repeatpass)"></ion-icon>
      </ion-item>
    </ion-list>

    <div
      *ngIf="formChangePassword.get('newPassword').value !== formChangePassword.get('confirmedNewpassword').value && formChangePassword.get('confirmedNewpassword').touched">
      <p class="error">* Las contraseñas no coinciden.</p>
    </div>

    <ion-button shape="round" fill="outline" type="submit" (click)="sendData('contrasena')"
      [disabled]="!((formChangePassword.get('newPassword').value === formChangePassword.get('confirmedNewpassword').value) && formChangePassword.get('confirmedNewpassword').touched) && formChangePassword.invalid">
      Actualizar contraseña
    </ion-button>
  </form>
</ion-content>