h3 {
    color: #BCCEE1;
    margin: 12px 16px;
    text-align: justify;
}

.image {
    width: 150px;
    height: 150px;
    display: flex;
    margin: 24px auto;
    border-radius: 50%;
    align-items: center;
    place-content: center;
    border: 5px solid #BCCEE1;

    ion-icon {
        font-size: 6em;
        color: #BCCEE1;
    }
}

form {
    text-align: center;

    ion-list {
        margin: 12px 16px 8px 0;
        background: transparent;

        ion-item {
            color: #BCCEE1;

            label.not__data {
                color: #586573;
            }
        }

        ion-icon {
            color: #BCCEE1;
            margin-inline-end: 16px;

            &.toggle__password__icon {
                position: absolute;
                bottom: 8px;
                right: 8px;
                margin: 0;
            }
        }

        fa-icon {
            font-size: 20px;
            color: #BCCEE1;
            margin: 12px 16px 12px 0;
        }

        ion-select {
            width: 80vh;
            padding-left: 0;

            &#genere {
                width: calc(79vh - 3px);
            }
        }
    }

    ion-button {
        margin: 24px;
    }
}


@media screen and (max-width: 320px) {
    h3 {
        font-size: 1em;
    }

    .image {
        width: 120px;
        height: 120px;

        ion-icon {
            font-size: 4.5em;
        }
    }
}