<div class="modal__header">
  <span class="title">Nuestros Productos</span>
  <fa-icon class="close" icon="times"></fa-icon>
</div>
<div class="modal__body"></div>


<!-- <div class="container">
  <div class="modal__header">
    <span class="modal__close" (click)="close()" *ngIf="showClose">X</span>
    <span class="modal__title">{{ title || 'Titulo modal' }}</span>
  </div>
  <div #modal__content id="modal__content" class="modal__content">
    {{ htmlTemplate ? '' : contentBody || 'contenido modal' }}
  </div>
  <div class="modal__footer">
    <ion-button shape="round" expand="block" type="button" (click)="close()">Aceptar</ion-button>
  </div>
</div> -->