<ion-header class="ion-no-border">
  <app-header #headerTemplate [showMenu]="true" [buttonsRight]="false" title="Contacto Prevenir"></app-header>
</ion-header>

<ion-content>
  <div class="container">
    <img src="assets/img/logo_light_prevenir_express.png">

    <br>
    <br>
    <br>

    <h4 class="contact__title">Número de registro internacional</h4>
    <h4 class="contact__title">"Data Universal Numbering System" (DUNS)</h4>
    <br>
    <h5 class="data__duns">GRUPO PREVENIR EXPRESS SAS</h5>
    <h5 class="data__duns">D-U-N-S Number 885246680</h5>
    <h5 class="data__duns">PASTO - NARIÑO, 520002</h5>
    <h5 class="data__duns">COLOMBIA</h5>

    <br>
    <br>

    <h4 class="contact__title">Correo Electrónico</h4>
    <h5 class="data__duns">
      contactodescuentosmedicos@gmail.com
    </h5>
    
    <br>
    <br>

    <h4 class="contact__title">Redes Sociales</h4>
    <div class="social__networks">
      <a href="https://wa.me/message/UO54YYGANAZLG1">
        <ion-icon class="icon whatsapp" name="logo-whatsapp"></ion-icon>
      </a>
      <a href="https://es-la.facebook.com/prevenirexpress/">
        <ion-icon class="icon facebook" name="logo-facebook"></ion-icon>
      </a>
      <a href="https://www.instagram.com/prevenir_descuentos_dedicos">
        <ion-icon class="icon instagram" name="logo-instagram"></ion-icon>
      </a>
    </div>
  </div>
</ion-content>