<div class="modal__header">
    <span class="title">Certificado medico</span>
    <ion-button color="danger close" shape="round" size="small" (click)="close()"><fa-icon icon="times" ></fa-icon></ion-button>
    
</div>

<div class="modal__body">
    <div class="certificado">
        <img src="assets/img/CERTI-02.png" alt="not found" style="position: absolute; top: -50px;">
        <span>Certificamos que este medico esta habilitado por el Ministerio de Salud para ejercer su profesion</span>
    </div>
</div>