<div class="modal__header">
    <span class="title">Servicio certificado</span>
    <ion-button color="danger close" shape="round" size="small" (click)="close()"><fa-icon icon="times" (click)="close()"></fa-icon></ion-button>
</div>
<div class="modal__body">
    <div class="certificado">
        <img src="assets/img/Empresa_Cert.png" alt="not found" style="position: absolute; top: -50px;">
        <span>Certificamos que este servicio esta verificado por nuestro sistema de seguridad y puede confiar en el.</span>
    </div>
</div>