<ion-app>
  <ion-router-outlet id="main"></ion-router-outlet>

  <!-- <ion-menu class="menu" side="end" type="push" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>a ver si funciona</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="menu__list">
        <ion-item class="menu__list__item" *ngFor="let itemMenu of _globals.USER_MENU" [routerLink]="[itemMenu.path]">
          <fa-icon [icon]="itemMenu.icon"></fa-icon>
          <span>{{ itemMenu.label }}</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu> -->
</ion-app>