<div *ngIf="vista=='type'">
  <div class="selectorAccount">
    <div class="buttonSelector" (click)="form()">
      <fa-icon icon="user"></fa-icon>
      <span>Usuario</span>
    </div>

    <div class="buttonSelector" (click)="form1()">
      <fa-icon icon="user-md"></fa-icon>
      <span>Médico</span>
    </div>
  </div>
</div>
<div class="container">

  <div class="form__container" *ngIf="vista=='form'">
    <form [formGroup]="registerForm">
      <ion-list>
        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- --------------------------------------------------- EMAIL ------------------------------------------- -->
        <!-- ----------------------------------------------------------------------------------------------------- -->

        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-input placeholder="ejemplo@gmail.com" formControlName="email" type="email"
            (ionChange)="verifyEmail($event.target)" debounce="1000"></ion-input>


          <div class="loading_container">
            <div class="loading__input"></div>
            <ion-icon *ngIf="emailRegistred!=undefined" class="checking" [class.fail]="emailRegistred"
              [name]="emailRegistred?'close-circle-outline':'checkmark-circle-outline'" slot="end"></ion-icon>
          </div>
        </ion-item>

        <div class="error-container" *ngIf="emailRegistred">
          <span>
            <strong>* </strong>
            El correo ya se encuentra registrado.
          </span>
        </div>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- -------------------------------------------------- CELULAR ------------------------------------------ -->
        <!-- ----------------------------------------------------------------------------------------------------- -->

        <ion-item>
          <ion-icon name="call" slot="start"></ion-icon>
          <ion-input placeholder="Número celular*" formControlName="telefono" type="tel" validate
            [disabled]="emailRegistred == undefined || emailRegistred == true"></ion-input>
        </ion-item>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- ------------------------------------------- IDENTIFICACION ------------------------------------------ -->
        <!-- ----------------------------------------------------------------------------------------------------- -->

        <ion-item>
          <ion-icon name="card" slot="start"></ion-icon>
          <ion-input placeholder="Número Identificacion*" formControlName="identificacion" type="tel"
            (ionChange)="verifyIdentificacion($event.target)" debounce="1000"
            [disabled]="emailRegistred == undefined || emailRegistred == true"> </ion-input>

          <div class="loading_container">
            <div class="loading__input"></div>
            <ion-icon *ngIf="identificacionRegistred!=undefined" class="checking" [class.fail]="identificacionRegistred"
              [name]="identificacionRegistred?'close-circle-outline':'checkmark-circle-outline'" slot="end"></ion-icon>
          </div>
        </ion-item>

        <div class="error-container" *ngIf="identificacionRegistred">
          <span>
            <strong>* </strong>
            El número de identificación ya se encuentra registrado.
          </span>
        </div>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- -------------------------------------------------- NOMBRES ------------------------------------------ -->
        <!-- ----------------------------------------------------------------------------------------------------- -->

        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Nombres completos*" formControlName="nombres" validate msg="un mensaje"
            [disabled]="emailRegistred == undefined || emailRegistred == true"></ion-input>
        </ion-item>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- ------------------------------------------------- APELLIDOS ----------------------------------------- -->
        <!-- ----------------------------------------------------------------------------------------------------- -->

        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Apellidos completos*" formControlName="apellidos" validate
            [disabled]="emailRegistred == undefined || emailRegistred == true"></ion-input>
        </ion-item>
        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- ---------------------------------------- INPUT TARJETA PROFESIONAL ---------------------------------- -->
        <!-- ----------------------------------------------------------------------------------------------------- -->
        <ion-item *ngIf="doc">
          <ion-icon name="card-outline" slot="start"></ion-icon>
          <ion-input type="tel" placeholder="Tarjeta profesional*" formControlName="profetionalCard" minlength="2"
            maxlength="10" [disabled]="emailRegistred == undefined || emailRegistred == true">
          </ion-input>
        </ion-item>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- --------------------------------------------- SELECTOR RETHUS --------------------------------------- -->
        <!-- ----------------------------------------------------------------------------------------------------- -->

        <ion-item class="input__filter" *ngIf="doc">
          <ion-icon name="school-outline" slot="start"></ion-icon>
          <ion-input #inputDrop type="text" formControlName="rethusDataName" placeholder="Titulo Rethus*"
            (ionFocus)="focusDropdownSearch(inputDrop)" (keyup)="searchRethus($event.target)"
            (ionBlur)="blurDropdownSearch()" [disabled]="emailRegistred == undefined || emailRegistred == true">
          </ion-input>
          <ion-input type="hidden" formControlName="rethus"></ion-input>
        </ion-item>

        <div class="group__filter" *ngIf="filteredRethusList">
          <ng-container *ngFor="let rethus of filteredRethusList">
            <span class="filter__item" [attr.data-rethus-id]="rethus.idEspecialidad"
              (click)="selectRethusItem($event.target)">
              {{ rethus.nombreEspecialidad.split('-')[1] }}
            </span>
          </ng-container>
        </div>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- ------------------------------------------------ CONTRASEÑA ----------------------------------------- -->
        <!-- ----------------------------------------------------------------------------------------------------- -->

        <ion-item>
          <ion-icon name="key" slot="start"></ion-icon>
          <!-- <ion-input placeholder="Contraseña *" formControlName="pssw" type="password"></ion-input> -->

          <ion-input #passwordInput [type]="passwordTypeInput" placeholder="Contraseña (mín. 8 caracteres)" formControlName="password"
            [disabled]="emailRegistred == undefined || emailRegistred == true">
          </ion-input>
          <ion-icon class="toggle__password__icon" [name]="(passwordTypeInput === 'text')?'eye-off':'eye'" slot="end"
            (click)="togglePassword()"></ion-icon>
        </ion-item>

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- ------------------------------------------ CONFIRMAR CONTRASEÑA ------------------------------------- -->
        <!-- ----------------------------------------------------------------------------------------------------- -->

        <ion-item>
          <ion-icon name="key" slot="start"></ion-icon>
          <ion-input #passwordInputConfirm [type]="passwordTypeInputConfirm" placeholder="Confirmar contraseña *"
            formControlName="passwordConfirm" validate (ionInput)="comparePassword()"
            [disabled]="emailRegistred == undefined || emailRegistred == true"></ion-input>
          <ion-icon class="toggle__password__icon" [name]="(passwordTypeInputConfirm === 'text')?'eye-off':'eye'"
            slot="end" (click)="togglePassword('confirm')"></ion-icon>
        </ion-item>
        <ion-item class="item__error" lines="none" class="item__validation"
          *ngIf="registerForm.value.password != registerForm.value.passwordConfirm && registerForm.get('passwordConfirm').touched">
          <div style="display: flex;">
            <p>
              <span>*&nbsp;</span>
              Las contraseñas no coinciden
            </p>
          </div>
        </ion-item>

        <!-- <ion-item lines="none" class="item__check">
          <ion-label>Soy profesional de la salud</ion-label>
          <ion-toggle slot="end" formControlName="profetional"></ion-toggle>
        </ion-item> -->

      </ion-list>
    </form>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-lg="6" size-md="6" size-sm="6">
          <ion-button (click)="vistaType()" *ngIf="vista=='form'">
            Cancelar
          </ion-button>
        </ion-col>
        <ion-col size="6" size-lg="6" size-md="6" size-sm="6">
          <ion-button (click)="validateRegister()" [disabled]="registerForm.invalid || emailRegistred===true"
            *ngIf="vista=='form'">
            Registrarse
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- <div class="navigation__buttons">
    <ion-button expand="block" type="submit" (click)="vistaType()" *ngIf="vista=='form'">
      Cancelar
    </ion-button>
    <ion-button expand="block" type="submit" (click)="validateRegister()"
      [disabled]="registerForm.invalid || emailRegistred===true" *ngIf="vista=='form'">
      Registrarse
    </ion-button>
  </div> -->

  <p class="info">
    Para registrarte como proveedor (consultorio, ips o entidad de salud) te invitamos a ingresar a
    www.prevenirdescuentosmedicos.com
  </p>
</div>