<ion-header class="ion-no-border">
  <app-header #headerTemplate [showMenu]="true" [buttonsRight]="false" title="Perfíl médico"></app-header>
</ion-header>

<ion-content>
  <!-- <avatar-user [user]="dataDoctor" [doctor]="true" [modeEdit]="false"></avatar-user> -->
  <avatar-provider *ngIf="dataDoctor" [provider]="dataDoctor" [scrollPosition]="scrollPosition"></avatar-provider>

  <div class="view__profile__data" *ngIf="dataDoctor">
    <div class="item__info">
      <fa-icon icon="address-card"></fa-icon>
      <ion-label>
        T.P. {{ dataDoctor['tarjetaProfecional']}}
      </ion-label>
    </div>
    <div class="item__info">
      <fa-icon icon="map-marked"></fa-icon>
      <ion-label>
        {{ dataDoctor['idmunicipio'] == 1 ? 'Sin registrar ubicación':
        getDepartmentsAndTownsString(dataDoctor['idmunicipio']) }}
      </ion-label>
    </div>

    <div class="item__info collapsable">
      <fa-icon icon="graduation-cap"></fa-icon>
      <ion-label class="no__data" *ngIf="!dataDoctor['estudios'].length">No registra estudios</ion-label>

      <div class="accordion__item" *ngIf="dataDoctor['estudios'].length">
        <button #btn_studies aria-expanded="false" [attr.data-icon]="'down'" (click)="toggleAccordion(btn_studies)">
          <span class="accordion-title">Estudios</span>
          <fa-icon class="icon" [icon]="'angle-'+btn_studies.getAttribute('data-icon')"></fa-icon>
        </button>
        <div class="accordion-content">
          <div class="study__item" *ngFor="let study of dataDoctor['estudios']">
            <span>{{ study['rethus'] | uppercase }}</span>
            <span> {{ study['universidad'] | titlecase }}</span>
            <span> {{ study['tipo'] }} - {{ study['fechaGrado'] | date }} </span>
          </div>
        </div>
      </div>
    </div>

    <div class="item__info collapsable">
      <fa-icon icon="medal"></fa-icon>
      <ion-label class="no__data" *ngIf="!dataDoctor['experiencia'].length">No registra experiencia</ion-label>

      <div class="accordion__item" *ngIf="dataDoctor['experiencia'].length">
        <button #btn_experience aria-expanded="false" [attr.data-icon]="'down'"
          (click)="toggleAccordion(btn_experience)">
          <span class="accordion-title">Experiencia</span>
          <fa-icon class="icon" [icon]="'angle-'+btn_experience.getAttribute('data-icon')"></fa-icon>
        </button>
        <div class="accordion-content">
          <div class="experience__item" *ngFor="let experience of dataDoctor['experiencia']">
            <span class="title">Empresa</span> <span class="title">Trayectoria</span>
            <span> {{ experience['nombreEmpresa'] | titlecase }}</span>
            <span>{{ experience['tiempoExperiencia'] | titlecase }} Años</span>
            <span class="title description" *ngIf="experience['descripcion']">Descripción</span>
            <span *ngIf="experience['descripcion']">{{ experience['descripcion'] }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher> -->
</ion-content>