.container {
    .box__publicity {
        margin: 12px;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    h4 {
        color: #bccee1;
        margin: 32px 24px;
        margin-bottom: 8px;
        font-weight: bold;
        text-align: center;
    }
}

.searchbar__input {
    top: 4px;
    width: 0;
    right: 10px;
    overflow: hidden;
    position: absolute;
    transition: all 0.5s;

    &.active {
        width: 85vw;
    }
}

.search__input {
    --color: #ecf0f1;
    --border-radius: 5px;
    display: inline-block;
    --icon-color: #ecf0f1;
    --background: #ecf0f185;

    &.depts {
        width: 90%;
        margin-left: 5%;
    }

    &.filter {
    }
}

// .input__filter {
//     position: relative;
//     overflow: visible;

//     .group__filter {
//         box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.95);
//         border-bottom-right-radius: 5px;
//         border-bottom-left-radius: 5px;
//         transform: translateX(-50%);
//         display: inline-block;
//         background: #303B46;
//         position: absolute;
//         max-height: 230px;
//         padding: 8px 12px;
//         color: #ECF0F1;
//         overflow: auto;
//         z-index: 10000;
//         width: 85%;
//         top: 50px;
//         left: 50%;

//         .filter__item {
//             padding: 4px 0;
//             border-bottom: 1px solid #636e72;
//         }
//     }
// }

span.current__search {
    width: 100vw;
    margin: 12px 0;
    color: #bccee1;
    text-align: center;
    display: inline-block;
}

.result__search {
    padding-bottom: 70px;
    margin-top: 52px;

    .result__text {
        padding-left: 24px;
        color: #bccee1;
    }

    &.not_found {
        padding: 24px;
        color: #bccee1;
        font-size: 1.5em;
        text-align: center;

        img {
            width: 50%;
            display: block;
            margin: 40px auto;
        }
    }
}

.publication {
    grid-template-rows: auto auto auto;
    grid-template-columns: 33vw auto;
    background: #212121;
    padding-bottom: 12px;
    border-radius: 10px;
    color: #bccee1;
    box-shadow:0px 2px 16px 2px rgba(0, 0, 0, 0.4);
    display: grid;
    margin: 12px;

    .certificado{
        max-width: 18%;
        position: absolute;
        right: 13px;
        top: 7px;
    }

    .estrella{
        width: 20px;
        height: 20px;
    }

    .poligonoD2{
        position: absolute;
        bottom: 30%;
        right: -68px;
        width: 110%;
        border-top: 40px ridge #ffd54a;
        border-left: 48px solid transparent;
        border-right: 36px solid transparent;
        transform: rotate(-41deg);
    }

    .poligonoD{
        position: absolute;
        bottom: 6%;
        right: -48px;
        width: 45%;
        border-top: 40px groove #ffd54a;
        border-left: 48px solid transparent;
        border-right: 36px solid transparent;
        transform: rotate(-41deg);
    }
    
    .liston{
        position: absolute;
        right: 1%;
        bottom: 5%;
        transform: rotate(48deg);
    }

    /* .speciality__box{
        transform: rotate(-41deg);
        position: absolute;
        right: 0%;
        top: 30%;
    } */

    .image__container {
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        margin: 0 12px;
        height: 27vw;
        width: 27vw;

        img {
            // transform: translateY(-50%);
            // border-radius: 10px;
            // position: relative;
            // min-width: 146px;
            // max-width: 146px;
            // top: 50%;
            object-fit: cover;
            height: 27vw;
            width: 27vw;
        }

        .calification__publication {
            border-radius: 0 0 10px 10px;
            backdrop-filter: blur(12px);
            background: #202c3899;
            text-align: center;
            position: absolute;
            padding-top: 4px;
            overflow: hidden;
            color: #fbc303;
            font-size: 1rem;
            height: 28px;
            bottom: 0px;
            width: 100%;
        }
    }

    .title__publication {
        text-transform: capitalize;
        padding: 0 12px 8px;
        text-align: center;
        font-weight: bold;
        grid-column: 1/3;
    }

    .information__container {
        width: 100%;

        .provider,
        .speciality {
            padding-bottom: 4px;
            font-size: 0.9em;
            margin: 0;

            &__title {
                font-weight: bold;
            }

            // &__data {
            //     width: calc(100% - 8px);
            //     text-overflow: ellipsis;
            //     white-space: nowrap;
            //     overflow: hidden;
            // }
        }

        .tag__icon {
            // position: absolute;
            color: #ff3838;
            // font-size: 2em;
            // left: 10px;
            // top: 20px;
        }
    }

    .specialty__publication,
    .description__publication {
        text-align: justify;
        margin: 0 12px 4px;
        grid-column: 1/3;

        p {
            margin: 0;
            margin-bottom: 12px;
        }
    }

    .keywords__publication {
        gap: 8px;
        flex-wrap: wrap;
        grid-column: 1/3;
        margin-left: 12px;
        margin-bottom: 12px;
        display: inline-flex;

        span {
            // padding: 6px 8px;
            // border-radius: 16px;
            // border: 2px solid #BCCEE1;
            // box-shadow: inset 0px 0px 8px 0px rgba(21, 42, 89, 0.87);

            padding: 6px 8px;
            border-radius: 16px;
            border: 1px solid #bccee1;
            box-shadow: 0px 0px 2px 1px #bccee1de;
        }
    }
}

h1,
p,
a,
span {
  color: #bccee1;
  letter-spacing: 0.02em;
  font-weight: 600;
}

h1,
p,
a {
  padding-left: 40px;
}

h1 {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
  line-height: 30px;
}

button {
  border: 0;
  border-radius: 26px;
  padding-bottom: 2px;
}

span {
  font-size: 1.6em;
}

.container,
.flip-box,
.front,
.back {
    grid-template-rows: auto auto auto;
    grid-template-columns: 33vw auto;
    width: 395px;
    height: 420px;
    margin-left: 1%;
    margin-bottom: 4%;
    border-radius: 10px;
    box-shadow: 0px 2px 16px 2px rgb(0 0 0 / 40%);
}

.container,
.flip_box {
  position: relative;
}

.front,
.back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0%;
  left: -1%;
}

.container {
  -moz-transform: perspective(1200px);
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.flip_box {
  transition: all 0.5s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front {
  background-color: #263544;
  //background-image: url('https://img-fotki.yandex.ru/get/194550/29644339.5/0_d6c5f_c9f15850_orig');
}

.f_title {
  padding-top: 10px;
}

.f_subline {
  padding-top: 220px;
  color: #bccee1;
}

.f_headline {
  line-height: 23px;
}

.back {
  background-color: #0c244e;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.b_headline {
  padding-top: 50px;
}

.b_text {
  font-size: 1.4em;
  line-height: 28px;
  padding-top: 10px;
  opacity: 0.85;
}

.b_button {
  position: absolute;
  left: 36px;
  bottom: 21px;
  width: 150px;
  height: 52px;
  background-color: #bccee1;
  transition: all 0.3s;
}

.b_button:hover {
  background-color: #a7afb7;
}

.flipped {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.r_wrap {
  position: absolute;
  right: 40px;
  bottom: 20px;
}

.b_round,
.s_round {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #19222b;
  transition: all 0.2s linear;
}

.b_round {
  opacity: 0;
  background-color: #19222b;

  &:hover {
    transform: scale(1.37);
    opacity: 0.4;
  }
}

.b_round_back_hover {
  background-color: #19222b;
}

.s_round_click {
  transform: scale(1.7);
}

.s_round_back {
  background-color: #19222b;
}

.s_arrow {
  width: 52px;
  height: 52px;
  background-image: url('https://img-fotki.yandex.ru/get/194549/29644339.5/0_d6c60_1d7815f0_orig');
  background-color: transparent;
  transition: all 0.35s linear;
}

.s_arrow_rotate {
  transform: rotate(-180deg);
}

.slide__photos__publication {
    //border-radius: 0 0 25px 25px;
    overflow: hidden;
    margin: 0 3%;
    position: inherit;
    padding-top: 20%;
    margin-left: 7%;

    .data__over__slider {
        left: 50%;
        width: 80%;
        top: 233px;
        opacity: 0.7;
        z-index: 100;
        padding: 12px 16px;
        border-radius: 5px;
        position: absolute;
        background: #303B46;
        transform: translateX(-50%);

        span {
            display: block;
            color: #ECF0F1;
            text-transform: capitalize;

            &:first-child {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    .swiper-pagination.swiper-pagination-bullets {
        display: none;
    }
}



@media screen and (max-width: 370px) {
    .publication {
        .title__publication {
            font-size: 0.9em;
        }

        .information__container {
            .provider,
            .speciality {
                font-size: 0.8em;
            }
        }
    }
}
